
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --title: #f8c27a;
    --textShadow: 0 2px 2px rgba(0,0,0,.7);
    --boxtShadow: 0 0px 10px rgba(0,0,0,.2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.container{
    background-color: rgba(250, 209, 236, 0.938);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--boxtShadow);
}
h1{
    font-family: "Luckiest Guy", cursive;
    margin-bottom: 20px;
    color: rgb(185, 44, 91);
    text-shadow: var(--textShadow);
    /* ........grace a cet exercise j'ai appris aussi a utiliser les variables choses que je fesais pas avant ........... */
    display: inline-block;
}
.vies{
    margin: 10px;
}
ion-icon{
    font-size: 50px;
    fill: rgb(199, 13, 106);
    /*................ pourquoi fill ? a voir pour comprendre  ..................*/
}
#inputBox{
    background-color: #f89cca;
    padding: 15px;
    border-radius: 5px;
    border: solid 2px rgb(233, 132, 165);
}
#inputBox > label{
    display: block;
    margin-bottom: 8px;
    /* ..............pkoi le crochet plus grand pour appeler le label? ...........*/
}
input, button{
    outline: none;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
}
button{
    background-color: rgb(253, 125, 215);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover{
    transform: rotateY(-2px);
    background-color: rgb(0, 184, 184 );
}
p#message {
    margin: 20px auto 0 auto;
}
#rejourer{
    display: none;
    margin: 5px auto 0 auto;  
}
#details{
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
}